---
import type { ImageMetadata } from "astro";
import Main from "./Main.astro";

type Props = {
    poster: ImageMetadata;
    title: string;
    subtitle: string;
};
const {poster, title, subtitle} = Astro.props;

import {Image} from "astro:assets";
---

<Main title="Mohamed Affes | Blog">
    <div>
        <Image src={poster} alt="" loading="eager" />
        <p>Poster image for {title.toLowerCase()}</p>
        <h1 transition:name={`${title}`}  transition:animate="initial">{title}</h1>
        <h2>{subtitle}</h2>
        <slot />
    </div>
</Main>

<style>
    div {
        display: flex;
        flex-direction: column;
        align-items: start;
        margin-top: 30px;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    img{
        width: 100%;
        height: auto;
        border-radius: 20px;
    }

    h1{
        margin-bottom: 0px;
        font-size: 3.25em;
    }

    h2{
        margin-top: 0px;
    }
</style>
